<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>AniRem Season Reminder</Name>
	<Version>2.0.0</Version>
	<Title>AniRem Season Reminder Installer</Title>
	<Publisher>Sykcoder42</Publisher>
	<ProductUrl>https://github.com/Skycoder42/SeasonProxer</ProductUrl>
	<StartMenuDir>AniRem</StartMenuDir>
	<TargetDir>AniRem</TargetDir>
	<RunProgram>anirem</RunProgram>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<RemoteRepositories>
		<Repository>
			<Url>https://install.skycoder42.de/installers/SeasonProxer</Url>
			<Enabled>1</Enabled>
			<DisplayName>AniRem Season Reminder Repository</DisplayName>
		</Repository>
	</RemoteRepositories>
	<ControlScript>controller.js</ControlScript>
</Installer>
