[submodule "QtUtils"]
	path = QtUtils
	url = git@github.com:Skycoder42/QtUtils.git
[submodule "QtRestClient"]
	path = QtRestClient
	url = https://github.com/Skycoder42/QtRestClient
[submodule "QSingleInstance"]
	path = QSingleInstance
	url = git@github.com:Skycoder42/QSingleInstance.git
[submodule "QtMvvm/QuickExtras"]
	path = QtMvvm/QuickExtras
	url = git@github.com:Skycoder42/QuickExtras.git
