<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<Entry key="openEntries"
		   type="bool"
		   title="&amp;Open Animes in browser"
		   tooltip="When you long press animes, for example to remove the new seasons mark, the browser will automatically open the animes site"
		   default="false">
		<SearchKey>open</SearchKey>
		<SearchKey>click</SearchKey>
		<SearchKey>browser</SearchKey>
		<SearchKey>new</SearchKey>
	</Entry>
</SettingsConfig>
