<?xml version="1.0" encoding="UTF-8"?>
<SettingsConfig allowSearch="true" allowRestore="true">
	<Group>
		<Entry key="updates/autoCheck"
			   type="list"
			   title="&amp;Automatic Season Check"
			   tooltip="Automatically check for new seaons every given interval"
			   default="7">
				<Property key="_list_data" type="string">int</Property>
				<Property key="_list_elements" type="list">
					<Element type="object">
						<Property key="name" type="string">Never</Property>
						<Property key="value" type="number">0</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Dayly</Property>
						<Property key="value" type="number">1</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Weekly</Property>
						<Property key="value" type="number">7</Property>
					</Element>
					<Element type="object">
						<Property key="name" type="string">Monthly</Property>
						<Property key="value" type="number">30</Property>
					</Element>
				</Property>
		</Entry>
		<Entry key="updates/checkLimit"
			   type="int"
			   title="Season check &amp;limit"
			   tooltip="If checking for too many seasons at once, proxer.me may block your ip. To prevent this, limit the amount of checked animes per day (0 equals no limit)"
			   default="10">
			<Property key="specialValueText" type="string">No limit</Property>
		</Entry>
	</Group>
	<Group title="Long/Double click action">
		<Entry key="openEntries"
			   type="bool"
			   title="&amp;Open Animes in browser"
			   tooltip="Such an action will automatically open the animes relations in your browser"
			   default="false" />
		<Entry key="uncheckEntries"
			   type="bool"
			   title="&amp;Unmark new seasons"
			   tooltip="Such an action will remove the &apos;new seasons&apos; mark from the anime, if it had one"
			   default="true" />
	</Group>
</SettingsConfig>
